#div1{
    background: yellow;
    width: 200px;
    height: 200px;
}
#div2{
    background: url("../../../img/1.jpg");
    width: 200px;
    height: 200px;
}
#div4{
    transform: translate(-50%,-50%);
}